p.back {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
input[type="text"] {
    width: 100%;
}
.send-admin {
    width:20%;
    margin-top: 20px;
    margin-bottom: 30px;

}
.select-admin {
    width: 20%;
}

p.add {
    font-size: 25px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}