<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-heartbeat" aria-hidden="true"></i>Clinic</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-inverse navbar-nav navbar-right">

          <li><a href="../">Home</a></li>
          <li class="active"><a href="#">About Us</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@mysite.com</a></li>
          <li><form name="search" action="#" method="get" class="form-inline form-search pull-right">
          <div class="input-group">
            <label class="sr-only" for="searchInput">Search</label>
            <input type="text" class="form-control" placeholder="Search for...">
            <div class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go</button>
            </div>
          </div>
        </form></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="about">
  <div class="container information">
    <div class="row centered">
      <br><br>
        <h1>About us</h1>
      </div>
        </div>
          </div>
          <div class="container">
      <div id="inf">
        <h4>Our Vision</h4>
             <p><img src="img/vision1.jpg" alt="" class="visionimg"></p>
              <p class="">
                 The Clinic has been in operation since 1970.<br>
                 Over 200 specialists bring their patients to our hospital for treatment.<br>
                As well as being the leading private cancer centre and a 24/7<br>
                cardiac care centre, the hospital opened a new Emergency<br>
                Department in 2015 offering a walk-in service for immediate<br>
                access to expert care when an injury or illness arises.<br>
          The Private Heart & Vascular Centre is home<br>
          to the largest group of specialist and sub-specialist Consultants. </p><br>
           </div>
      </div>
      <div class="container information">
        <div class="row centered">
             <hr>
                      <div class="col-xs-6">
                          <div class="ourmision">
                            <h1> Our Mision</h1><br>
                            <p>Patients are cared for in an environment that supports<br>
                              emotional as well as clinical needs. We offer innovative and<br>
                              specialist treatments and specialist liaison nurses to support<br>
                              the patient in their treatment journey.
                              <br>
                              <br>
                              Consultant rooms and cardiology testing are also available at<br>
                              our outreach clincs. These offer patients the convenience of<br>
                              local access to routine consultation, and follow-up care so<br>
                              you will always have access to us no matter where you are<br>
                              based in the country.<br>  </p>

                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="ourmision">
                            <h1> Your Questions</h1><br>
                            <p>What kind of services do you provide?</p>
                              <div class="block">


          <div class="centred">
          <div class="col-lg-4">
            <i class="fa fa-check-circle-o fa-2x"></i>
            <h4>Experienced</h4>
            <p>Over thirrty years of service</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-heart-o fa-2x"></i>
            <h4>Motory</h4>
            <p>A young, energetic team</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-user-md fa-2x"></i>
            <h4>Professional</h4>
            <p>Working to get results</p>
            </div>
          </div>
        </div>
        <br><br>
      </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
