<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-heartbeat" aria-hidden="true"></i>Clinic</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-inverse navbar-nav navbar-right">

          <li class="active"><a href="#">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@mysite.com</a></li>
          <li><form name="search" action="#" method="get" class="form-inline form-search pull-right">
          <div class="input-group">
            <label class="sr-only" for="searchInput">Search</label>
            <input type="text" class="form-control" placeholder="Search for...">
            <div class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go</button>
            </div>
          </div>
        </form></li>
        </ul>
      </div>

    </div>
  </div>
  <div id="headerwrap">

      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Providing outstanding healthcare to everyone</h1>
          <h3>We have a national reputation for world-class care and innovative medical treatments</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container information">
    <div class="row centered">
      <br><br>
      <div class="care">
        <h4>Exceptional standard of care</h4>
        <p>We pride ourselves on our exceptional standards of patient care.<br>
          Our clinicians and staff are highly recognised for their skills and their<br>
           dedication to delivering best-in-class treatment and care.</p>
      </div>
      <div class="centred">
      <div class="col-lg-4">
        <i class="fa fa-check-circle-o fa-2x"></i>
        <h4>Experienced</h4>
        <p>Over thirrty years of service</p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-heart-o fa-2x"></i>
        <h4>Motory</h4>
        <p>A young, energetic team</p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-user-md fa-2x"></i>
        <h4>Professional</h4>
        <p>Working to get results</p>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <div id="dg">

      <div class="row centered">
        <h4>Popular Departments</h4>
        <br>
        <div class="col-xs-4">
          <div class="tilta">
            <a href="#"><img src="img/c1.jpg" alt=""> Cardiac Clinic</a>
            <p>Cardiology is a branch of medicine dealing with disorders of the heart as well as parts of the circulatory system.</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="tilta">
            <a href="#"><img src="img/d222.jpg" alt=""> Dental Clinic</a>
            <p>This is the study, diagnosis, prevention, as well as treatment of diseases, disorders and conditions of the oral cavity.</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="tilta">
            <a href="#"><img src="img/3o22.jpg" alt=""> Ophthalmology Clinic</a>
            <p>Ophthalmology is the branch of medicine that deals with the anatomy, physiology and diseases of the eye.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
<div id="inf">
  <h4>Our Mission</h4>
  <p>Our goal is to provide the highest quality acute healthcare to the<br>
     patients we are privileged to serve. We are proud to offer some of the<br>
     most technologically advanced treatment options.<br></p>


       <p><img src="img/rightimg.jpg" alt="" class="rightimg"></p>

        <p class="txtalignment"> <span class="selectcolor">
           Healthcare provision to get your<br>
          Superman flying again.</span><br>
    We provide a wide range of medical and surgical
    procedures at our state of the art healthcare facilities
       all over the country, easily accessible to all. </p>
     </div>
</div>
<div class="container">
<div id="help people">

   <p><img src="img/help1.jpg" alt="" class="leftimg"></p>

    <p class="txtali"> <span class="selectcolor">
       We explore new and better ways to <br>
      help people live healthier lives.</span><br>
We’ve been doing what we do for over 50 years – and we’ll continue to build on our success through the dedication of our outstanding people. </p>
 </div>
</div>
<div id="backgroundicon">
<div class="icon">
        <p><strong> Experience world-class care</strong><br>
We are committed to the provision of high quality, patient<br>
 centred care, delivered by experienced healthcare providers.</p>

    <a href="#" class="knopka">Our departments</a>
</div>
  </div>


  <div id="footer">
    <div class="container">
      <div class="row centered">

        <div class="open">
                <h4> Opening Hours</h4>
      <p>Monday to Friday 9:00am - 18:00pm<br>
      Saturday <span class="letter">9:00am - 16:00pm</span><br>
      Sunday <span class="letter">9:00am - 14:00pm</span><br></p>
       </div>
       <h4> Follow Us</h4>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-vk"></i></a>

        <div class="news">
                <h4> Latest News</h4>
      <p>The Mayo Clinic Recognizes Digital Scholarship
<br>June 20, 2017</p>
<p>Impact Pediatric Health: A Game Changer
<br>June 19, 2017</p>
       </div>

    </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
